/*Installation des fonts*/
@font-face {
    font-family: "SourceSerifBold";
    src: url("/FONT/SOURCESERIFPRO-BOLD.ttf") format("truetype");
}
@font-face {
    font-family: "SourceSerifRegular";
    src: url("/FONT/SOURCESERIFPRO-REGULAR.ttf") format("truetype");
}
@font-face {
    font-family: "SourceSerifLight";
    src: url("/FONT/SOURCESERIFPRO-LIGHT.ttf") format("truetype");
}
@font-face {
    font-family: "MontserratBold";
    src: url("/FONT/Montserrat-Bold.ttf") format("truetype");
   }
@font-face {
    font-family: "Montserrat";
    src: url("/FONT/montserrat/static/Montserrat-Regular.ttf") format("truetype");
   }

/*TITRES*/
h1, h2, h3 {
    font-family: 'SourceSerifBold';
    line-height: 1,5em;
}
h2 {
    font-size: 35px;
}
h4, h5, h6 {
    font-family: 'Montserrat';
    line-height: 1,5em;
}
   

/*FOOTER*/
footer {
    background-color: #7c1a1d;
    height: auto;
    width: 100%;
    padding: 25px;
}
.footer-niv2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-logo{
    width: 150px;
    max-width: 150px;
    height: auto;
    padding-bottom: 20px;
}
.footer-mentions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-mentions a, .footer-mentions p {
    margin-right: 5px;
    margin-left: 5px;
    color: #dedede;
    font-size: 12px;
    font-weight: 200;
}
.footer-mentions a {
    text-decoration: underline;
}
.footer-mentions a:hover {
    color: #ffffff;
}