/*Installation des fonts*/
@font-face {
    font-family: "SourceSerifBold";
    src: url("/FONT/SOURCESERIFPRO-BOLD.ttf") format("truetype");
}
@font-face {
    font-family: "SourceSerifRegular";
    src: url("/FONT/SOURCESERIFPRO-REGULAR.ttf") format("truetype");
}
@font-face {
    font-family: "SourceSerifLight";
    src: url("/FONT/SOURCESERIFPRO-LIGHT.ttf") format("truetype");
}
@font-face {
    font-family: "MontserratBold";
    src: url("/FONT/Montserrat-Bold.ttf") format("truetype");
   }
@font-face {
    font-family: "Montserrat";
    src: url("/FONT/montserrat/static/Montserrat-Regular.ttf") format("truetype");
   }

/*TITRES*/
h1, h2, h3 {
    font-family: 'SourceSerifBold';
    line-height: 1,5em;
}
h4, h5, h6 {
    font-family: 'Montserrat';
    line-height: 1,5em;
}
   

/*FOOTER*/
footer {
    background-color: #7c1a1d;
    height: 150px;
    width: 100%;
    padding: 25px;
}
.footer-niv1 {
    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
}
.footer-niv2 {
    justify-content: center;
}
.footer-logo{
    width: 200px;
    max-width: 200px;
    height: auto;
    padding-bottom: 20px;
}
.footer-mentions {
    flex-direction: row;
}