/*Installation des fonts*/
@font-face {
    font-family: "SourceSerifBold";
    src: url("/FONT/SOURCESERIFPRO-BOLD.ttf") format("truetype");
}
@font-face {
    font-family: "SourceSerifRegular";
    src: url("/FONT/SOURCESERIFPRO-REGULAR.ttf") format("truetype");
}
@font-face {
    font-family: "SourceSerifLight";
    src: url("/FONT/SOURCESERIFPRO-LIGHT.ttf") format("truetype");
}
@font-face {
    font-family: "MontserratBold";
    src: url("/FONT/Montserrat-Bold.ttf") format("truetype");
   }
@font-face {
    font-family: "Montserrat";
    src: url("/FONT/montserrat/static/Montserrat-Regular.ttf") format("truetype");
   }

/*TITRES*/
h1 {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    line-height: 1.2em;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 54px;
}
h2 {
    font-size: 35px;
    font-family: Helvetica, sans-serif;
    line-height: 1.2em;
    font-weight: 600;
}
h3 {
    font-family: 'SourceSerifBold';
    line-height: 1,5em;
}
h4, h5, h6 {
    font-family: 'Montserrat';
    line-height: 1,5em;
}
p {
    line-height: 1.5em;
}
body {
    margin: 0px;
}
a {
    font-family: 'Montserrat';
    line-height: 1,5em;
    font-size: 16px;
    color: #303030;
    text-decoration: none;
    font-weight: 600;
}
a:hover{
    color: #d6242a;
    text-decoration: underline;
}

/*HEADER*/
.label-nav, #toggle {
    display: none;
}
.logo-black {
    display: none;
}
.nav-liens li a{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-shadow: 5px 5px 10px black;
    color: #dedede;
    text-decoration: none;
}
.contact button {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #dedede;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent !important;
    position: absolute;
    top: 0px;
    z-index: 9999; 
    width: 100%; 
}
.logo {
    cursor: pointer ;
    margin-right: auto ;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10%;
}
.nav-liens{
     list-style: none;
     float: right;
}
.nav-liens li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-liens li a{
    transition: all 0.3s ease 0s; 
}
.nav-liens li a:hover{
    color: #ffffff;
    text-decoration: underline;
    transition: all 1s;
}
button{
    margin-left: 20px;
    padding: 10px 25px;
    background-color: #952327;
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s; 
}
button:hover{
    background-color: #d6242a;
}
.contact button{
    color: #F5F5F5;
}
.contact {
    padding-right: 10%;
}

/*Scroll to top*/
   .scrolltotop {
    display: flex;
    justify-content: center;
    background-color: #7c1a1d;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    border: solid 1px white;
    rotate: 45deg;
}
.scrolltotop span {
    font-size: 30px;
    color: #dedede;
}
.scrolltotop:hover{
    background-color: #dd1b22;
}
.scrolltotop span:hover{
    text-decoration: none;
}

/*FOOTER*/
footer {
    background-color: #7c1a1d;
    height: auto;
    padding: 25px;
}
.footer-niv2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-logo{
    width: 150px;
    max-width: 150px;
    height: auto;
    padding-bottom: 20px;
}
.footer-mentions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-mentions a, .footer-mentions p {
    margin-right: 5px;
    margin-left: 5px;
    color: #dedede;
    font-size: 12px;
    font-weight: 200;
}
.footer-mentions a {
    text-decoration: underline;
}
.footer-mentions a:hover {
    color: #ffffff;
}

/*Mobile responsive*/
@media only screen and (max-width: 768px)
{
    /*HEADER*/
    header{
        padding: 0% 5%;
    }
    .contact{
        display: none;
    }
    .logo img {
        width: 150px;
    }
    .logo {
        padding-left: 0%;
    }
    nav
    {
        height: 60px;
    }
    nav .nav-liens
    {
        display: none;
        flex-direction: column;
        background: #7c1a1d;
        height: 140px;
        z-index: 9999;
        margin-top: 10px;
        border-radius: 10px;
        padding: 20px 0;
    }
    nav .nav-liens a {
        width: 50%;
        color: #dedede;
    }
    .nav-liens li {
        padding-bottom: 20px;
    }
    .label-nav
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-right: 0px;
        font-size: 40px;
        color:#dedede;
        cursor: pointer;
        border-radius: 10px;
    }
    .label-nav:hover{
        color:#ffffff;
    }
    #toggle:checked + .nav-liens {
        display: flex;
    }
    .label-nav:checked{
        margin-right: 0px;
        margin-bottom: 50px;
    }
}

