/* GENERAL PARAMETER */
*{
    margin:0;
    padding:0;
    /*box-sizing: border-box;*/
}

@font-face {
    font-family: "MontserratBold";
    src: url("/FONT/Montserrat-Bold.ttf") format("truetype");
   }
   @font-face {
    font-family: "Montserrat";
    src: url("/FONT/montserrat/static/Montserrat-Regular.ttf") format("truetype");
   }

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
    text-transform: uppercase;
    line-height: 1,5em;
}
   
   
   /* SECTION PREMIER */
    .sect-premier{
        height: 700px;
        width: 100%;
        background-image: url(img/tanlap-slide1.jpg);
    }

    .spre-left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        padding: 250px 0 0 150px;
        
    }
    .spre-left h1{
        color: #ffffff;
        line-height: 80px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
        font-weight: 400;
    }
    .spre-left p{
        color: #cacaca;
        font-size: 16px;
        font-weight: 200;
        padding-bottom: 20px;
        line-height: 25px;
    }

    /*BUTTON ACCUEIL*/
    #button-accueil{
            padding: 15px 30px;
            background-color: #952327;
            border: none;
            border-radius: 40px;
            cursor:pointer;
            transition: all 0.3s ease 0s; 
            color: #ffffff;
            font-size: 14px;
            margin: 0;
    }
    #button-accueil:hover{
        background-color: #7c1a1d;
    }

    /*BUTTON SECTION TROIS*/
    #button-trois{
        padding: 15px 30px;
        background-color: #ffffff;
        border: none;
        border-radius: 40px;
        cursor:pointer;
        transition: all 0.3s ease 0s; 
        color: #7c1a1d;
        font-size: 14px;
        margin: 0;
        width: 250px;
    }
    #button-trois:hover{
        background-color: #dedede;
    }

    /* SECTION DEUX */
    .sect-deux{
        background-image: url(img/tanlap-fond.jpg);
        display: flex;
        flex-direction: row;
        padding: 100px 150px;
    }

    .sdeux-left{
        padding-right: 200px;
        padding-top: 100px;
    }

    .sdeux-left p{
        font-weight: 300;
        padding-top: 20px;
    }

    .sdeux-left h2{
        color: #dd1b22;
    }

    .sdeux-right img{
        max-width: 600px;
        margin: 0 30px;
    }

    /* SECTION TROIS */
    .sect-trois{
        width: 100%;
        height: 700px;
        background-color: #7c1a1d;
        display: flex;
        flex-direction: row;
    }
    .strois-left{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-left: 150px;
    }
    .strois-left p,.strois-left h2{
        width: 500px;
        color: #f5f5f5;
    }
    .strois-left p{
        text-align: justify;
        padding-top: 15px;
        padding-bottom: 30px;
    }
    .strois-right{
        width: 50%;
        overflow: hidden;
    }
    .strois-right img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 700px;
        overflow: hidden;
    }

    /* SECTION QUATRE */
    .sect-quatre{
        width: 100%;
        height: 700px;
        background-image: url(img/tanlap-fond.jpg);
        display: flex;
        flex-direction: row;
    }
    .squatre-left{
        width: 50%;
    }
    .squatre-right{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .squatre-left img{
        width: 450px;
        height: auto;
    }
    .squatre-left-img1{
        margin: 100px 0 0 120px;
    }
    .squatre-left-img2{
        margin: -100px 0 0 380px;
    }
    .squatre-right-sub {
        width: 700px;
        margin-left: 100px;
    }
    .squatre-right-column{
        display: flex;
        flex-direction: row;
        padding: 20px 0;
    }

    /* SECTION CINQ */
    .sect-cinq{
        height: 600px;
        width: 100%;
        background-image: url(img/tanlap-slide1.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .scinq-center{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding-top: 250px;
    }
    .scinq-center p{
        color: #cacaca;
    }
    .scinq-center h2{
        color:#dd1b22;
        font-size: 30px;
        padding-bottom: 20px;
    }
    #cinq-panache{
        font-size: 20px;
        padding-bottom: 10px;
    }
    #cinq-prix{
        font-size: 18px;
        padding-bottom: 30px;
    }
    .scinq-center a{
        color: #ffffff;
        text-decoration: underline;
    }
    .scinq-center a:hover{
        color: #dd1b22;
        text-decoration: underline;
    }
    