/* GENERAL PARAMETER */
*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    /*box-sizing: border-box;*/
}
   
   /* SECTION PREMIER */
    .sect-premier{
        height: 800px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .sect-prebg {
        width: 100%;
        height: 100%;
        background-image: url(img/tanlap-slide1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 3s;
    }
    .sect-prebg:hover{
            transform: scale(1.05);
            transition: all 3s;
    }
    
    .spre-left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        top:200px;
        left:150px;
        padding: 50px;
        position: absolute;
    }
    .spre-left h1{
        color: #ffffff;
        line-height: 80px;
        font-size: 50px;
        font-weight: 400;
        text-decoration: none;
    }
    .spre-left p{
        color: #f2F2F2;
        font-size: 16px;
        font-weight: 200;
        padding-bottom: 20px;
        line-height: 25px;
        width: 500px;
        text-align: left;
    }

    /*BUTTON ACCUEIL*/
    #button-accueil{
            padding: 15px 30px;
            background-color: #952327;
            border: none;
            border-radius: 40px;
            cursor:pointer;
            transition: all 0.3s ease 0s; 
            color: #ffffff;
            font-size: 14px;
            margin: 0;
    }
    #button-accueil:hover{
        background-color: #7c1a1d;
    }

    /*SCROLL SECTION 1*/
      #section05 a span {
        position: absolute;
        top: 700px;
        left: 50%;
        width: 32px;
        height: 32px;
        margin-left: -12px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb05 1.5s infinite;
        animation: sdb05 1.5s infinite;
        box-sizing: border-box;
      }
      @-webkit-keyframes sdb05 {
        0% {
          -webkit-transform: rotate(-45deg) translate(0, 0);
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          -webkit-transform: rotate(-45deg) translate(-20px, 20px);
          opacity: 0;
        }
      }
      @keyframes sdb05 {
        0% {
          transform: rotate(-45deg) translate(0, 0);
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          transform: rotate(-45deg) translate(-20px, 20px);
          opacity: 0;
        }
      }
      

    /*BUTTON SECTION TROIS*/
    #button-trois{
        padding: 15px 30px;
        background-color: #ffffff;
        border: none;
        border-radius: 40px;
        cursor:pointer;
        transition: all 0.3s ease 0s; 
        color: #7c1a1d;
        font-size: 14px;
        margin: 0;
        width: 250px;
    }
    #button-trois:hover{
        background-color: #dedede;
    }

    /* SECTION DEUX */
    .sect-deux{
        background-image: url(img/tanlap-fond.jpg);
        display: flex;
        flex-direction: row;
        padding: 100px 150px;
    }

    .sdeux-left{
        padding-right: 200px;
        padding-top: 50px;
    }

    .sdeux-left p{
        font-weight: 300;
        padding-top: 20px;
    }

    .sdeux-left h2{
        color: #dd1b22;
    }

    .sdeux-right img{
        max-width: 600px;
        margin: 0 30px;
    }

    /* SECTION TROIS */
    .sect-trois{
        width: 100%;
        height: 700px;
        background-color: #7c1a1d;
        display: flex;
        flex-direction: row;
    }
    .strois-left{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-left: 150px;
    }
    .strois-left p,.strois-left h2{
        width: 500px;
        color: #f5f5f5;
    }
    .strois-left p{
        text-align: justify;
        padding-top: 15px;
        padding-bottom: 30px;
    }
    .strois-right{
        width: 50%;
        overflow: hidden;
    }
    .strois-right img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 700px;
        overflow: hidden;
    }

    /* SECTION QUATRE */
    .sect-quatre{
        width: 100%;
        height: 700px;
        background-image: url(img/tanlap-fond.jpg);
        display: flex;
        flex-direction: row;
    }
    .squatre-left{
        width: 50%;
    }
    .squatre-right{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .squatre-left img{
        width: 450px;
        height: 300px;
        vertical-align: middle;
        object-fit: cover;
        overflow: hidden;
        border-radius: 5px;
    }
    .squatre-left-img1{
        margin: 100px 0 0 120px;
    }
    .squatre-left-img2{
        margin: -100px 0 0 380px;
    }
    .squatre-right-sub {
        width: 700px;
        margin-left: 100px;
    }
    .squatre-right-column{
        display: flex;
        flex-direction: row;
        padding: 20px 0;
    }

    /* SECTION CINQ */
    .sect-cinq{
        height: 600px;
        width: 100%;
        background-image: url(img/tanlap-slide3.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .scinq-center{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding-top: 250px;
    }
    .scinq-center p{
        color: #cacaca;
    }
    .scinq-center h2{
        color:#dd1b22;
        font-size: 30px;
        padding-bottom: 20px;
    }
    #cinq-panache{
        font-size: 20px;
        padding-bottom: 10px;
    }
    #cinq-prix{
        font-size: 18px;
        padding-bottom: 30px;
    }
    .scinq-center a{
        color: #ffffff;
        text-decoration: underline;
    }
    .scinq-center a:hover{
        color: #dd1b22;
        text-decoration: underline;
    }
    

/*Tablet responsive*/
@media only screen and (max-width: 992px){

}

/*Mobile responsive*/
@media only screen and (max-width: 768px){
    .sect-deux{
        padding: 50px 40px;
        flex-direction: column-reverse;
    } 
    .sdeux-left {
        padding-right: 0px;
        padding-top: 0px;
    }   
}