
    /*Header spécifique*/
        header {
            width: 100%;
        }

   /* SECTION PREMIER */
    .sect-premier{
        height: 800px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .sect-prebg {
        width: 100%;
        height: 100%;
        background-image: url(img/tanlap-slide3.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 3s;
    }
    .sect-prebg:hover{
            transform: scale(1.02);
            transition: all 3s;
    }
    
    .spre-left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        top:250px;
        left:150px;
        padding: 50px;
        position: absolute;
    }
    .spre-left p{
        color: #f2F2F2;
        font-size: 16px;
        font-weight: 200;
        padding-bottom: 20px;
        line-height: 30px;
        width: 500px;
        text-align: left;
        margin-top: 10px;
    }

    /*BUTTON ACCUEIL*/
    #button-accueil{
            padding: 15px 30px;
            background-color: #952327;
            border: none;
            border-radius: 40px;
            cursor:pointer;
            transition: all 0.3s ease 0s; 
            color: #ffffff;
            font-size: 14px;
            margin: 0;
    }
    #button-accueil:hover{
        background-color: #7c1a1d;
    }

    /*SCROLL SECTION 1*/
      #section05 a span {
        position: absolute;
        top: 700px;
        left: 50%;
        width: 32px;
        height: 32px;
        margin-left: -12px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb05 1.5s infinite;
        animation: sdb05 1.5s infinite;
        box-sizing: border-box;
      }
      @-webkit-keyframes sdb05 {
        0% {
          -webkit-transform: rotate(-45deg) translate(0, 0);
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          -webkit-transform: rotate(-45deg) translate(-20px, 20px);
          opacity: 0;
        }
      }
      @keyframes sdb05 {
        0% {
          transform: rotate(-45deg) translate(0, 0);
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          transform: rotate(-45deg) translate(-20px, 20px);
          opacity: 0;
        }
      }
      

    /*BUTTON SECTION TROIS*/
    #button-trois{
        padding: 15px 30px;
        background-color: #ffffff;
        border: none;
        border-radius: 40px;
        cursor:pointer;
        transition: all 0.3s ease 0s; 
        color: #7c1a1d;
        font-size: 14px;
        margin: 0;
        width: 250px;
    }
    #button-trois:hover{
        background-color: #dedede;
    }

    /* SECTION DEUX */
    .sect-deux{
        background-image: url(img/tanlap-fond.jpg);
        display: flex;
        flex-direction: row;
        padding: 100px 150px;
    }

    .sdeux-left{
        padding-right: 100px;
        padding-top: 50px;
    }

    .sdeux-left p{
        font-weight: 300;
        padding-top: 20px;
        line-height: 1.5em;
    }

    .sdeux-left h2{
        color: #dd1b22;
    }

    .sdeux-right img{
        max-width: 600px;
        margin: 0 30px;
        border-radius: 20px;
    }

    /* SECTION TROIS */
    .sect-trois{
        width: 100%;
        height: 700px;
        background-color: #7c1a1d;
        display: flex;
        flex-direction: row;
    }
    .strois-left{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-left: 150px;
    }
    .strois-left p,.strois-left h2{
        width: 500px;
        color: #f5f5f5;
    }
    .strois-left p{
        text-align: justify;
        padding-top: 15px;
        padding-bottom: 30px;
    }
    .strois-right{
        width: 50%;
        overflow: hidden;
    }
    .strois-right img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 700px;
        overflow: hidden;
    }

    /* SECTION QUATRE */
    .sect-quatre{
        width: 100%;
        height: 700px;
        background-image: url(img/tanlap-fond.jpg);
        display: flex;
        flex-direction: row;
    }
    .squatre-left{
        width: 50%;
    }
    .squatre-right{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .squatre-left img{
        width: 450px;
        height: 300px;
        vertical-align: middle;
        object-fit: cover;
        overflow: hidden;
        border-radius: 10px;
    }
    .squatre-left-img1{
        margin: 100px 0 0 100px;
    }
    .squatre-left-img2{
        margin: -100px 0 0 250px;
    }
    .squatre-right-sub {
        width: 500px;
        margin-left: 100px;
    }
    .squatre-right-column{
        display: flex;
        flex-direction: row;
        padding: 20px 0;
    }
    .squatre-right-column p{
        padding-right: 20px;
    }

   /* SECTION TROIS */
   .sect-cinq{
        width: 100%;
        min-height: 700px;
        display: flex;
        flex-direction: row;
    }
    .scinq-left{
        width: 50%;
        display: flex;
        flex-direction: column;
        background-image: url(img/REPAS6.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
        align-content: center;
        padding-left: 150px;
    }
    .scinq-left p,.scinq-left h2{
        width: 500px;
        color: #f5f5f5;
        text-shadow: 2px 2px 10px black;
    }
    .scinq-left h2{
        text-transform: capitalize;
    }
    .scinq-left p{
        text-align: justify;
        padding-top: 15px;
        font-size: 18px;
    }
    .scinq-right{
        width: 50%;
        height: auto;
        overflow: hidden;
    }
    .gmaps-frame {
        width: 100%;
        height: 100%;
        border: 0;
        margin: auto;
        display: block;
    }

    

/*Tablet responsive*/
@media screen and (max-width: 992px){
    .spre-left {
        left: 50px;
    }
    .sect-deux {
        flex-direction: column;
        padding: 50px 50px;
    }
    .sdeux-left {
        width: 100%;
        margin-bottom: 50px;
    }
    .sect-trois {
        flex-direction: column;
        height: 900px;
    }
    .strois-left {
        width: 100%;
        padding-left: 50px;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .strois-left p, .strois-left h2 {
        width: 600px;
    }
    .strois-right {
        width: 100%;
    }
    .strois-right img {
        height: 600px;
    }
    .sect-quatre {
        flex-direction: column;
        height: 1200px;
    }
    .squatre-left {
        width: 100%;
    }
    .squatre-left-img1 {
        margin: 50px 0 0 50px;
    }
    .squatre-left-img2 {
        margin: -100px 0 0 300px;
    }
    .squatre-right {
        width: 100%;
    }
    .squatre-right-sub {
        margin-left: 50px;
        margin-top: 50px;
    }
    .sect-cinq {
        flex-direction: column;
    }
    .scinq-right,.scinq-left {
        width: 100%;
    }
    .scinq-left {
        padding: 80px;
    }
    .scinq-right{
        height: 400px;
    }
}

/*Mobile responsive*/
@media only screen and (max-width: 768px)
{
    p{
        font-size: 13px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    
    .sect-premier {
        height: 600px;
    }
    .sect-prebg {
        height: 700px;
        background-position-x: 55%;
    }
    .spre-left {
        left: 30px;
        padding: 20px;
        top: 200px;
    }
    .spre-left h1 {
        line-height: 50px;
        font-size: 30px;
        font-weight: 600;
    }
    .spre-left p {
        font-size: 14px;
        line-height: 20px;
        width: 300px;
    }
    #section05 a span {
        top: 600px;
    }
    .sect-deux{
        padding: 50px 40px;
        flex-direction: column-reverse;
    } 
    .sdeux-left {
        padding-right: 0px;
        padding-top: 0px;
    }  
    .sdeux-left p {
        text-align: justify;
    }
    .sdeux-right{
        display: none;
    } 
    .sect-trois {
        flex-direction: column-reverse;
        height: auto;
    }
    .strois-left {
        left: 50px;
        padding-left: 40px;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .strois-right {
        width: 100%;
    }
    .strois-right img {
        width: auto;
        height: 350px;
    }
    .strois-left p, .strois-left h2 {
        width: 300px;
        color: #f5f5f5;
    }
    .strois-left p {
        font-size: 13px;
    }
    .sect-quatre {
        width: 100%;
        height: auto;
        flex-direction: column;
        padding-bottom: 50px;
    }
    .squatre-left {
       padding-bottom: 20px;
    }
    .squatre-right {
        width: 100%;
        padding-left: 30px;
    }
    .squatre-right-column {
        flex-direction: column;
        width: 100%;
        padding-right: 20px;
    }
    .squatre-right-column p {
        padding-bottom: 20px;
        font-size: 13px;
        text-align: justify;
    }
    .squatre-right-sub {
        width: 100%;
        margin-left: 0px;
    }
    .squatre-left {
        width: 100%;
        margin-bottom: 20px;
    }
    .squatre-left img {
        width: 200px;
        height: 133px;
    }
    .squatre-left-img1 {
        margin: 50px 0 0 30px;
    }
    .squatre-left-img2 {
        margin: -50px 0 0 150px;
    }
    .footer-mentions p {
        font-size: 13px;
        text-align: center;
        width: 250px;
    }
    .sect-cinq {
        flex-direction: column;
        min-height: 400px;
    }
    .scinq-left {
        padding-left: 20px;
        width: 100%;
        min-height: 300px
    }
    .scinq-left h2 {
        font-size: 25px;
        width: 300px;
        margin-bottom: 20px;
    }
    .scinq-left p {
        padding-top: 0px;
        font-size: 14px;
        line-height: 22px;
        width: 300px;
    }
    .scinq-right {
        width: 100%;
    }
    .gmaps-frame {
        width: 400px;
        height: 400px;
        border: 0;
        margin: auto;
        display: block;
    }

}