*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

p, button{
    font-family: Montserrat, Helvetica, sans-serif;
}


body{
    height: 4000px;
}

.sec1{
    background-color: #202020;
}


/*-----Section1-----*/
.sec1 .container {
    /* Permet de align au centre les informations */
    display: flex;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}
.sec1 .container .left{
    padding-left: 100px;
}
.sec1 .container .left h1 {
  font-size: 4em;
  color:antiquewhite;
  text-align: left;
  line-height: 0.9em;
  letter-spacing: 0.06em;

}

.sec1 .container .left p{
    color: antiquewhite;
    max-width: 550px;
    margin: 40px 0;
    line-height: 1.2em;
}
.sec1 .container .right img{
    height: 45em;
    transition: transform 1s;
}
.sec1 .container .right:hover img{
    transform: scale(1.031);
}

.sec1 .container .left button{
   width: 250px;
   height: 65px;
   border-radius: 50px;
   border: none;
   font-size: 1.3em;
   background-color: #d6242a;
   color: antiquewhite;
   box-shadow: 0px 0px 10px #d6242a;
   letter-spacing: 0.08em;
}
/* Création du fenêtre POP-UP en CSS */
.secPOP .modal .modal_content{
    display: flex;
    text-align: center;
    align-items: center;
}
.secPOP .modal .modal_content input{
    padding: 10px;
    margin-top: 8%;
    border: none;
    outline: none;
    border-bottom: 2px solid  #e4e4ec;
}
.secPOP .modal .modal_content input:hover{
    border-bottom: 2px solid  #d6242a;
    transition: .2s;
}
.secPOP .modal .modal_content h1 {
    color: #202020;
    font-size: 1.1em;
    text-align: center;
    margin-top: 5%;
}
.sec1POP .modal .modal_content p {
    color: #202020;
    font-size: 1em;
}
/*On fait génère la page*/
.modal{
/*On la laisse déjà en CACHE pour ne pas cacher la page principale*/
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(77, 77, 77, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

/*Permet de rendre visible la page pop-up*/
.modal:target {
    visibility: visible;
    opacity: 1;
}
.modal .modal_content{
    background-color: white;
    padding: 1.5em 2em;
    width: 500px;
/*Permet de rendre la fenêtre responsive*/
    max-width: 90%;
    border-radius: 4px;
    position: relative;
    padding-top: 10px;
}
/*Permet de fermer la page POP-UP*/
.modal_close{
    position: absolute;
    right: 15px;
    top: 15px;
    text-decoration: none;
    color: #d6242a;
}
/*On ajoute un effet de rotation sur la croix*/
.modal_close:hover{
    transition: .3s;
    transform: rotate(45deg);
}
.secPOP .modal .modal_content button{
    background-color: #d6242a;
    width: 120px;
    height: 40px;
    box-shadow: none;
    display: block;
    margin: 15px 67%;
    position: relative;
    font-size: 0.95em;
    letter-spacing: normal;
    padding-left: 1.1em;
}
/*Fin de la fenêtre POP-UP*/
/*----------SECTION2-------------*/

section#lesrepas .container-repas{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

section#lesrepas .container-repas .repas-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    background-color: #d6242a;
    border-radius: 15px;
}

section#lesrepas .container-repas .repas-article .repas-images img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}

section#lesrepas .container-repas .repas-article .descriptions{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}







/*----------FIN SECTION2-------------*/
/*Début du responsive*/
@media (max-width: 1600px){
    
    .sec1 .container .left h1 {
        font-size: 3em;
        padding-top: 10%;
      }
      .secPOP .modal .modal_content h1 {
          font-size: 1em;
          padding-top: 0;
      }

}

@media (max-width: 1300px){
    .sec1 .container {
        /* Permet de align au centre les informations */
        flex-direction: column;

    }
    .sec1 .container .left{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-left: 0px;
    }

    .sec1 .container .right img{
        height: 40em;
    }
}

@media (max-width: 770px){
    .sec1 .container .left h1 {
        font-size: 1.7em;
      }
    .sec1 .container .left p{
        margin: 40px 35px;
        line-height: 1.2em;
    }
    .sec1 .container .right img{
        height: 30em;
    }
    .secPOP .modal .modal_content h1 {
        font-size: 1em;
        padding-top: 0;
    }
    .secPOP .modal .modal_content input{
        width: 100%;  
       }
       .secPOP .modal .modal_content button{
           margin: 15px auto;
       }
}
