@font-face {
    font-family: "MontserratBold";
    src: url("/FONT/Montserrat-Bold.ttf") format("truetype");
   }
   @font-face {
    font-family: "Montserrat";
    src: url("/FONT/montserrat/static/Montserrat-Regular.ttf") format("truetype");
   }


li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #404040;
    text-decoration: none;
}

header{
     display: flex;
     justify-content: flex-end;
     align-items: center;
     width: 100%;
     padding: 0% 10%;
     background-color: #F5F5F5BB;
     position: absolute;
     top: 0px;
     z-index: 9999;
}

.logo {
    cursor: pointer ;
    margin-right: auto ;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-liens{
     list-style: none;
     float: right;
}
.nav-liens li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-liens li a{
    transition: all 0.3s ease 0s; 
}
.nav-liens li a:hover{
    color: #d6242a;
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #952327;
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s; 
}

button:hover{
    background-color: #d6242a;
}

.contact button{
    color: #F5F5F5;
}