@font-face {
    font-family: "MontserratBold";
    src: url("/FONT/Montserrat-Bold.ttf") format("truetype");
   }
   @font-face {
    font-family: "Montserrat";
    src: url("/FONT/montserrat/static/Montserrat-Regular.ttf") format("truetype");
   }



header{
    position: sticky;
    top: 0px;
}


li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
     display: flex;
     justify-content: flex-end;
     align-items: center;
     padding: 0% 10%;
     background-color: rosybrown;
}

.logo {
    cursor: pointer ;
    margin-right: auto ;
}

.nav-liens{
     list-style: none;
}
.nav-liens li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-liens li a{
    transition: all 0.3s ease 0s; 
}
.nav-liens li a:hover{
    color: #0088a9;
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136,169,1);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s; 
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}