

/* Bloc 1 */
.section {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.section.active {
  right: 300px;
}
.section video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.text {
  position: absolute;
  z-index: 10;
  padding:100px;
}
.text h1 {
  font-size: 3em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  margin:0%;
}
.text-h4 {
  color: #ffffff;
}


.text p
{
  font-size: 18px;
  color: #fff;
  margin: 20px 0 20px 0;
  font-weight: 400;
  max-width: 700px;
}
#button-text {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.page
{
  background-image: url(img/tanlap-fond.jpg);
  background-repeat : no-repeat;
  background-size:cover;

}
/* Bloc 2 */
.citation 
{
  display:flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding:5% 0%;
}

.image1
{
  width: 35%;
  
}

.image2
{
  width: 20%;
}

.citation-text
{
  padding-right: 5%;
  width: 45%;
}
@keyframes movemydiv {
  0% {
    transform: translateX(0px);
  }

   50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.image1
{
  animation: movemydiv 70s linear alternate infinite;
}

.image1 img
{
  max-width: 100%;
}

.image2
{
  font-size: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Bloc 3 */

.timeline
{
  display:flex;
  flex-wrap: nowrap;
  align-items: top;
  line-height: 2em;
}

.presentation 
{
  width: 35%;
  margin-top: 5%;
  padding-left: 10%
}

.frise
{
  width:65%;
  margin-top: 5%;
  padding-left : 8%;
  padding-right: 8%;
  margin-bottom:15%;

}
.droite
{
text-align: right;
padding: 0% 3% 3% 0%;
border-right : 0.4rem solid;
border-color: #952327;
line-height: 2em;
}
.gauche
{
text-align: left;
 padding: 0% 0% 3% 3%;
 border-color: #952327;
 line-height: 2em;
}
table 
{
  border-collapse : collapse; 
  border-spacing:0%;
}

.date
{
font-size: 18px;
color: #952327;
font-weight: 600;
}
.h2-hist{
  width: 30px;
  line-height: 1.2;
}
.h3-histd, .h3-histg{
  line-height: 1.2;
}

.h3-histd {
  text-align:right;
}

@media (max-width: 768px) {
  header {
    padding: 0% 0%;
    width: 99%;
  }
  .logo {
    padding-left: 5%;
  }
  .text h1
  {
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    width: 200px;
  }
  
  .text h2
  {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }

  .citation-text
  {
    padding: 0px 5%;
    width: 300px;
    margin-top: 20px;
  }  
  .timeline
  {
    display:flex;
    flex-wrap: wrap;
    align-items: top;
    line-height: 2em;
  }
  
  .presentation 
  {
    margin-top: 5%;
    padding-left: 15%;
    padding-right:15%;
    width: 300px;
  }
  
  .frise
  {
    margin-top: 5%;
    padding-left : 15%;
    padding-right: 15%;
    margin-bottom:10%;
  }
  .gauche, .droite
  {
    line-height: 2em;
    padding-top: 5%;
    border-left : 0.4rem solid;
    border-right: 0px;
    border-color: #952327;
    padding-left:5%;
    text-align: left;
  }
  .vide
  {
    display:none;
  }
  .text {
    padding: 10px;
    width: 300px;
    top: 125px;
    left: 30px;
  }
  .h3-histd {
    text-align: left;
  }

  .section {
    min-height: 500px;
  } 
  .citation {
    flex-direction: column;
  }
  .image1 {
    width: 70%;
  }
  .image2 {
    font-size: 5em;
  }
  .h2-hist {
    width: 250px;
  }
  .h3-hist {
    width: 200px;
    
  }
}
