@font-face 
{
  font-family: "MontserratBold";
  src: url("FONT/Montserrat-Bold.ttf") format("truetype");
}

@font-face 
{
  font-family: "Montserrat";
  src: url("FONT/montserrat/static/Montserrat-Regular.ttf") format("truetype");
}

h1, h2, h3, h4, h5, h6
{
  font-family: "MontserratBold";
  text-transform: uppercase;
  line-height: 1,5em;
}
  
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.section
{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}

.section.active
{
  right: 300px;
}

.section video
{
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.text
{
  position: absolute;
  z-index: 10;
  padding:100px;
}

.text h1
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text h2
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text p
{
    font-family: "Montserrat";
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  margin-bottom: 8%;
}

.btnnd 
{
  margin-top: 20%;
  padding: 15px 30px;
  background-color: #952327;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}
.page
{
  background-image: url(img/tanlap-fond.jpg);
  background-repeat : repeat;
}
/* Bloc 2 */

.citation 
{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding:5% 0%;
}

@media (min-width: 1280px) 
{
  .image1
  {
    width: 35%;
    
  }

  .image2
  {
    width: 20%;
  }

  .citation-text
  {
    padding-right: 5%;
    width: 45%;
  }
}

@keyframes movemydiv {
  from {
    transform: translateX(0px);
  }

  50% {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.image1
{
  animation: movemydiv 70s linear alternate infinite;
}

.image1 img
{
  max-width: 100%;
}

.image2
{
  font-size: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1280px) 
{
  .citation > *
  {
    margin: 5%;
  }

  .citation-text
  {
    padding: 0px 5%;
  }  
}

/* Bloc 3 */

@media (min-width: 1280px) 
{
  .timeline
  {
    display:flex;
    flex-wrap: wrap;
    align-items: top;
    line-height: 2em;
  }
  
  .presentation 
  {
    width: 35%;
    margin-top: 5%;
    padding-left: 10%
  }
  
  .frise
  {
    width:65%;
    margin-top: 5%;
    padding-left : 8%;
    padding-right: 8%;
    margin-bottom:15%;
  
  }
  .droite
  {
  text-align: right;
  padding: 0% 3% 3% 0%;
  border-right : 0.4rem solid;
  border-color: #952327;
  line-height: 2em;
  }
  .gauche
  {
  text-align: left;
   padding: 0% 0% 3% 3%;
   border-color: #952327;
   line-height: 2em;
  }
  
}


table 
{
  border-collapse : collapse; 
  border-spacing:0%;
}

.date
{
font-size: 18px;
color: #952327;
}

@media (max-width: 1280px)
{
  .timeline
  {
    display:flex;
    flex-wrap: wrap;
    align-items: top;
    line-height: 2em;
  }
  
  .presentation 
  {
    margin-top: 5%;
    padding-left: 15%;
    padding-right:15%;
  }
  
  .frise
  {
    margin-top: 5%;
    padding-left : 15%;
    padding-right: 15%;
    margin-bottom:10%;
  
  }
.gauche
 {
  border-color: #952327;
  line-height: 2em;
  padding-top: 5%;
}
.droite
{
  border-color: #952327;
  line-height: 2em;
  padding-top: 5%;
}
.vide
{
  display:none;
}


}
