@font-face {
    font-family: "MontserratBold";
    src: url("/FONT/Montserrat-Bold.ttf") format("truetype");
   }



@font-face {
    font-family: "Montserrat";
    src: url("/FONT/montserrat/static/Montserrat-Regular.ttf") format("truetype");
   }

   h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    text-transform: uppercase;
    line-height: 1,5em;
}


  
   *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }
   header
   {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     padding: 40px 100px;
     z-index: 1000;
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
   header .logo
   {
     color: #fff;
     text-transform: uppercase;
     cursor: pointer;
   }

   .section
   {
     position: absolute;
     right: 0;
     width: 100%;
     min-height: 100vh;
     padding: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background: #111;
     transition: 0.5s;
     z-index: 2;
   }
   .section.active
   {
     right: 300px;
   }
   
   .section video
   {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     opacity: 0.8;
   }
   .overlay
   {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     mix-blend-mode: overlay;
     opacity: 70%;
   }
   .text
   {
     position: relative;
     z-index: 10;
   }
   
   .text h2
   {
     font-size: 5em;
     font-weight: 800;
     color: #fff;
     line-height: 1em;
     text-transform: uppercase;
   }
   .text h3
   {
     font-size: 4em;
     font-weight: 700;
     color: #fff;
     line-height: 1em;
     text-transform: uppercase;
   }

   .text p
   {
     font-size: 1.1em;
     color: #fff;
     margin: 20px 0;
     font-weight: 400;
     max-width: 700px;
   }
